<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>list of all emp</title>
</head>

<body>
  <h1>list of all emp</h1>
  <table>
    <tr>
      <td>EmpId: </td>
      <td>id</td>
    </tr>
    <tr>
    <tr>
      <td>EmpName: </td>
      <td>name</td>
    </tr>
    <tr>
      <td>EmpPhone: </td>
      <td>phn</td>
    </tr>
    <tr>
      <td>EmpGender </td>
      <td>gender</td>
    </tr>
    <tr>
      <td>EmpDesingation </td>
      <td>gender</td>
    </tr>
    <tr>
      <td><a href='update/3'>Update</a></td>
      <td><a href='delete/3'>delete</a></td>
    </tr>
  </table>
</body>

</html>