<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>emoloyee home</title>
</head>

<body>
  <fieldset>
    <legend>employee home</legend>
    <form class="" action="" method="post">


      <table>
        <tr>
          <td>c</td>
        </tr>
        <tr>
          <td>d</td>
        </tr>
        <tr>
          <td><input type='submit' name='submit' value='myProfile'></td>
          <td><input type='submit' name='submit' value='updateProfile'></td>
        </tr>

      </table>
    </form>
  </fieldset>
</body>

</html>
