<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td>EmpId: </td>
        <td>id</td>
      </tr>
      <tr>
      <tr>
        <td>EmpName: </td>
        <td>name</td>
      </tr>
      <tr>
        <td>EmpPhone: </td>
        <td>phn</td>
      </tr>
      <tr>
        <td>EmpGender </td>
        <td>gender</td>
      </tr>
      <tr>
        <td>EmpDesingation </td>
        <td>gender</td>
      </tr>
      <tr>
          <td><input type='submit' name='submit' value='update'></td>
      </tr>
    </table>
  </body>
</html>
